.track-list {
  list-style: none;
  padding-left: 0;
}

.track-item {
  display: flex;
  align-items: center;
}
.status-icon {
  display: flex;
  align-items: center;
  margin-bottom: 0px; /* Adjust the spacing as needed */
}
.delivered {
  width: 24px;
  height: 24px;

  background-image: url('../../icons/delivered.png'); /* Replace with the path to your truck icon image */
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px; /* Adjust the spacing as needed */
}
.outfordelivery{
  width: 24px;
  height: 24px;

  background-image: url('../../icons/outfordelivery.png'); /* Replace with the path to your truck icon image */
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px; /* Adjust the spacing as needed */
}
.transit{
  width: 24px;
  height: 24px;

  background-image: url('../../icons/transit.png'); /* Replace with the path to your truck icon image */
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px; /* Adjust the spacing as needed */
}
.status {
  margin: 0;
}
.green {
  color: green;
  font-weight:bold;
}

.red {
  color: red;
  font-weight:bold;
}
.yellow{
  color: darkgoldenrod;
  font-weight: bold;
}
.line::after {
  content: "";
  display: block;
  border-bottom: 1px solid black;
  margin-top: 10px;
}

.input-icon-container {
  position: relative;
}

.icon-search {
  position: absolute;
  right: 5px;
  top: 60%;
  transform: translateY(-50%);
}

// .form-control {
//   padding-right: 30px;  /* Make room for the icon */
// }



.date,
.details {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 31px;
}

.modal-container {
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.modal-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.modal-content {
  padding-top: 14px; /* Adjust this value to account for the header's height */
}

/* Additional styles for the modal */

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%; /* Adjust this value as needed */
}

.link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.link:hover {
  color: darkblue;
}

.mat-toolbar {
  display: flex !important;
  align-items: center !important;
}

.spacer {
  flex: 1 !important;
}
.modal-content {
  position: relative;
  min-height: 100%;
}

.modal-footer {
  position: absolute;
  top: 30px;
  width: 100%;
}


  .search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

  }
  
  .search-container .mat-form-field {
    margin-left: 20px;
  }
  
  .search-container .mat-form-field:last-child {
    margin-right: 15px;
  }
  

 button{
  position: relative !important;
  bottom: 4px !important;;
 }
 td, th {
  padding: 10px;
}
th {
  background-color: #f2f2f2;
}
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
th.date-header {
  padding: 0 20px;

}
table td:last-child {
  width: 150px;
}
.mat-icon-small {
  font-size: 20px;
}


label {
  margin-top: 0.5rem;
  font-weight: bold;
}
// ::ng-deep .mat-tooltip {
//   background-color: red;
//   color: white;
// }

.ng-invalid.ng-dirty,
.ng-invalid.ng-touched {
  border-color: red;
}

.custom-autocomplete {
  max-height: 150px !important; /* Set the maximum height as per your requirement */
  overflow-y: auto !important;
}
.loading-container {
 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Adjust as needed */
}
.custom-spinner {
 
  background-image: url('../../icons/loadingTruck.gif');
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
}
// .custom-snackbar {
//   font-size: 16px !important;
//   background-color: green !important; /* Set the desired background color */
//   color: red !important; /* Set the desired text color */
// }

// ::ng-deep .mat-mdc-snack-bar-container {
//   --mdc-snackbar-container-color: red !important;
// }
.edit-icon:hover{
color: #ff0000;
font-size: 22px;
}
.delete-icon:hover{
  color: #ff0000;
  font-size: 22px;
  }
  .col-md-2-5 {
    flex: 0 0 20.83333% !important;
    max-width: 20.83333% !important;
  }

  // .redirect-overlay {
	// position: fixed;
	//  top: 0;
	// left: 0;
	// width: 100%;
	// height: 100%;
	// background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity and color as desired */
	// backdrop-filter: blur(8px); /* Adjust the blur strength as desired */
	// z-index: 9999;
	// display: flex;
	// align-items: center;
	// justify-content: center;

  // }
  
.redirect-container {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
  }


  .your-specific-button {
    --bs-btn-hover-bg: green;
  }
  
  ::ng-deep .larger-autocomplete .cdk-overlay-pane {
    width: 400px !important;
  }

  .mat-autocomplete-panel.custom-autocomplete {
    width: 300px !important; /* Adjust the width as needed */
  }
  
  