<div class="modal-header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".cdk-overlay-container" style="cursor: all-scroll;">
  <mat-toolbar color="primary">
    <h4 class="modal-title">Edit Record</h4>
    <span class="spacer"></span>
    <button mat-icon-button mat-dialog-close type="button" class="close" aria-label="Close" (click)="onCancelClick()">
      <span aria-hidden="true">&times;</span>
    </button>
  </mat-toolbar>
  
</div>
<div class="modal-body p-3">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="name">C/NO.</label>
        <input type="text" class="form-control" id="name" formControlName="cnumber" cdkFocusInitial>
      </div>
      <div class="col-md-6 form-group">
        <label for="date">Date</label>
        <div class="input-group">
          <input type="text" class="form-control datepicker" id="date" formControlName="date" [matDatepicker]="picker1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12 form-group">
        <label for="name">C/NO.</label>
        <input type="text" class="form-control" id="name" formControlName="cno">
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-4 form-group">
        <label for="destination">DESTINATION</label>
        <input type="text" class="form-control" id="destination" formControlName="destination" >
      </div>
      <div class="col-md-4 form-group">
        <label for="type">TYPE</label>
        <input type="text" class="form-control" id="type" formControlName="type">
      </div>
      <div class="col-md-4 form-group">
        <label for="pc">PC</label>
        <input type="text" class="form-control" id="pc" formControlName="pc">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 form-group">
        <label for="rate">RATE</label>
        <input type="text" class="form-control" id="rate" formControlName="rate">
      </div>
      <div class="col-md-4 form-group">
        <label for="weight">WEIGHT</label>
        <input type="text" class="form-control" id="weight" formControlName="weight">
      </div>
      <div class="col-md-4 form-group">
        <label for="amount">AMOUNT</label>
        <input type="text" class="form-control" id="amount" formControlName="amount">
      </div>
    </div>
  </form>
  <div class="modal-content">
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="onSaveClick()" [disabled]="form.invalid"> Save</button>
      <button type="button" class="btn btn-secondary" (click)="onCancelClick()" style="margin-left: 10px;">Cancel</button>
    </div>
    </div>
</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onSaveClick()">Save</button>
  <button type="button" class="btn btn-secondary" (click)="onCancelClick()">Cancel</button>
</div> -->
