<div class="modal-container">
<div class="modal-header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".cdk-overlay-container" style="cursor: all-scroll;" sticky>
    <mat-toolbar color="primary">
      <h4 class="modal-title">Tracking Information {{header=='DTDC'?'From FRPLUS':''}}</h4>
      <h4 style="margin-left: 5px;margin-top: 15px;" *ngIf="header==='DTDC'">
        <a href="https://frplus.dtdc.com/default.asp" target="_blank">
          <mat-icon style="color: white;">launch</mat-icon>
        </a>
      </h4>
      <span class="spacer"></span>
      <button mat-icon-button mat-dialog-close type="button" class="close" aria-label="Close" (click)="onCancelClick()">
        <span aria-hidden="true">&times;</span>
      </button>
    </mat-toolbar>
  </div>
  
  <div class="modal-content p-3" *ngIf="!dtdcModal">
   
    
    <div *ngIf="isLoading;else dataContent" class="loading-container">
      <!-- Loading indicator -->
      <mat-spinner [ngClass]="{'custom-spinner': showCustomSpinner}"></mat-spinner>
    </div>
  
    <ng-template #dataContent >
      <!-- Display tracking details -->
      <p><strong >Tracking Number: </strong>  {{ trackingData?.data?.items[0]?.tracking_number }}</p>
      <p><strong>Carrier: </strong> {{ trackingData?.data?.items[0]?.carrier_code.toUpperCase() }}</p>
      <p><strong>Status: </strong> <span [class.green]="trackingData?.data?.items[0]?.status === 'delivered'" [class.red]="trackingData?.data?.items[0]?.status !== 'delivered'">{{ trackingData?.data?.items[0]?.status.toUpperCase() }}</span></p>
 
      <h3 (click)="toggleDestination()" style="cursor: pointer;">
        Destination Information
        <span  class="material-icons expand-icon">{{ destinationExpanded ? 'expand_less' : 'expand_more' }}</span>
      </h3>
      <div *ngIf="destinationExpanded">
        <p class="line"></p>
        <p><strong>Item Received: </strong><span [class.green]="trackingData.data.items[0].destination_info.ItemReceived!==null" [class.red]="trackingData.data.items[0].destination_info.ItemReceived===null">{{trackingData.data.items[0].destination_info.ItemReceived===null?'Not Available':trackingData.data.items[0].destination_info.ItemReceived}}</span></p>
        <p><strong>Item Dispatched: </strong><span [class.green]="trackingData.data.items[0].destination_info.ItemDispatched!==null" [class.red]="trackingData.data.items[0].destination_info.ItemDispatched===null">{{trackingData.data.items[0].destination_info.ItemDispatched===null?'Not Available':trackingData.data.items[0].destination_info.ItemDispatched}}</span></p>
        <p><strong>DepartfromAirport: </strong><span [class.green]="trackingData.data.items[0].destination_info.DepartfromAirport!==null" [class.red]="trackingData.data.items[0].destination_info.DepartfromAirport===null">{{trackingData.data.items[0].destination_info.DepartfromAirport===null?'Not Available':trackingData.data.items[0].destination_info.DepartfromAirport}}</span></p>
        <p><strong>Customs Clearance: </strong><span [class.green]="trackingData.data.items[0].destination_info.CustomsClearance!==null" [class.red]="trackingData.data.items[0].destination_info.CustomsClearance===null">{{trackingData.data.items[0].destination_info.CustomsClearance===null?'Not Available':trackingData.data.items[0].destination_info.CustomsClearance}}</span></p>
        <p><strong>Destination Arrived: </strong><span [class.green]="trackingData.data.items[0].destination_info.DestinationArrived!==null" [class.red]="trackingData.data.items[0].destination_info.DestinationArrived===null">{{trackingData.data.items[0].destination_info.DestinationArrived===null?'Not Available':trackingData.data.items[0].destination_info.DestinationArrived}}</span></p>
        <p><strong>Weblink: </strong><span [class.green]="trackingData.data.items[0].destination_info.weblink!==null" [class.red]="trackingData.data.items[0].destination_info.weblink===null">{{trackingData.data.items[0].destination_info.weblink===null?'Not Available':trackingData.data.items[0].destination_info.weblink}}</span></p>
        <p><strong>Phone: </strong><span [class.green]="trackingData.data.items[0].destination_info.phone!==null" [class.red]="trackingData.data.items[0].destination_info.phone===null">{{trackingData.data.items[0].destination_info.phone===null?'Not Available':trackingData.data.items[0].destination_info.phone}}</span></p>
        <p><strong>Carrier Code: </strong><span [class.green]="trackingData.data.items[0].destination_info.carrier_code!==null" [class.red]="trackingData.data.items[0].destination_info.carrier_code===null">{{trackingData.data.items[0].destination_info.carrier_code===null?'Not Available':trackingData.data.items[0].destination_info.carrier_code}}</span></p>
        <p><strong>TrackInfo: </strong><span [class.green]="trackingData.data.items[0].destination_info.trackinfo!==null" [class.red]="trackingData.data.items[0].destination_info.trackinfo===null">{{trackingData.data.items[0].destination_info.trackinfo===null?'Not Available':trackingData.data.items[0].destination_info.trackinfo}}</span></p>


      </div>
      
      <h3 (click)="toggleOrigin()" style="cursor: pointer;">
        
        Origin Information
        <span class="material-icons expand-icon">{{ originExpanded ? 'expand_less' : 'expand_more' }}</span>
      </h3>
      <div *ngIf="originExpanded">
      <p><strong>Item Received: </strong><span [class.green]="trackingData.data.items[0].origin_info.ItemReceived!==null" [class.red]="trackingData.data.items[0].origin_info.ItemReceived===null">{{trackingData.data.items[0].origin_info.ItemReceived===null?'Not Available' : trackingData.data.items[0].origin_info.ItemReceived}}</span></p>
      <p><strong>Item Dispatched: </strong><span [class.green]="trackingData.data.items[0].origin_info.ItemDispatched!==null" [class.red]="trackingData.data.items[0].origin_info.ItemDispatched===null">{{trackingData.data.items[0].origin_info.ItemDispatched===null?'Not Available' : trackingData.data.items[0].origin_info.ItemDispatched}}</span></p>
      <p><strong>Depart from Airport: </strong><span [class.green]="trackingData.data.items[0].origin_info.DepartfromAirport!==null" [class.red]="trackingData.data.items[0].origin_info.DepartfromAirport===null">{{trackingData.data.items[0].origin_info.DepartfromAirport===null?'Not Available' : trackingData.data.items[0].origin_info.DepartfromAirport}}</span></p>
      <p><strong>Arrival from Abroad: </strong><span [class.green]="trackingData.data.items[0].origin_info.ArrivalfromAbroad!==null" [class.red]="trackingData.data.items[0].origin_info.ArrivalfromAbroad===null">{{trackingData.data.items[0].origin_info.ArrivalfromAbroad===null?'Not Available' : trackingData.data.items[0].origin_info.ArrivalfromAbroad}}</span></p>
      <p><strong>DestinationArrived: </strong><span [class.green]="trackingData.data.items[0].origin_info.DestinationArrived!==null" [class.red]="trackingData.data.items[0].origin_info.DestinationArrived===null">{{trackingData.data.items[0].origin_info.DestinationArrived===null?'Not Available' : trackingData.data.items[0].origin_info.DestinationArrived}}</span></p>
      <p><strong>Weblink: </strong><span [class.green]="trackingData.data.items[0].origin_info.weblink!==null" [class.red]="trackingData.data.items[0].origin_info.weblink===null">{{trackingData.data.items[0].origin_info.weblink===null?'Not Available' : trackingData.data.items[0].origin_info.weblink}}</span></p>
      <p><strong>Phone: </strong><span [class.green]="trackingData.data.items[0].origin_info.phone!==null" [class.red]="trackingData.data.items[0].origin_info.phone===null">{{trackingData.data.items[0].origin_info.phone===null?'Not Available' : trackingData.data.items[0].origin_info.phone}}</span></p>
      <p><strong>Carrier Code: </strong><span [class.green]="trackingData.data.items[0].origin_info.carrier_code!==null" [class.red]="trackingData.data.items[0].origin_info.carrier_code===null">{{trackingData.data.items[0].origin_info.carrier_code===null?'Not Available' : trackingData.data.items[0].origin_info.carrier_code}}</span></p>
      
      
    </div>
      
      <h3 (click)="toggleTrack()" style="cursor: pointer;">
        Tracking History
        <span class="material-icons expand-icon">{{ trackExpanded ? 'expand_less' : 'expand_more' }}</span>
        </h3>
        <div *ngIf="trackExpanded">
      <p class="line"></p>
      <ul class="track-list">
        <!-- Loop through trackinfo array and display each tracking history item -->
        <li *ngFor="let trackItem of trackingData.data.items[0].origin_info.trackinfo" style="
        margin-bottom: 5px;
    ">
            <div class="status-icon">
              <span  [class.delivered]="trackItem.checkpoint_status=='delivered'" [class.outfordelivery]="trackItem.checkpoint_status=='pickup'" [class.transit]="trackItem.checkpoint_status=='transit'" ></span>
              <p class="status"><strong>Status: </strong>{{ trackItem.StatusDescription }}</p>
            </div>
            <p class="date"><strong>Date: </strong>{{ trackItem.Date }}</p>
            <p class="details"><strong>Details: </strong>{{ trackItem.Details }}</p>
            <p class="details"><strong>Checkpoint Status: </strong><span [class.green]="trackItem.checkpoint_status=='delivered'" [class.red]="trackItem.checkpoint_status=='transit'" [class.yellow]="trackItem.checkpoint_status=='pickup'">{{ trackItem.checkpoint_status.toUpperCase() }}</span></p>
            <p class="line"></p>
          </li>
       

      </ul>
        </div>
      
      <!-- Close the modal -->
    </ng-template>
  </div>
  <div class="modal-content p-3" *ngIf="dtdcModal">
    
      
      <div *ngIf="isLoading;else dataContent" class="loading-container">
        <!-- Loading indicator -->
        <mat-spinner [ngClass]="{'custom-spinner': showCustomSpinner}"></mat-spinner>
      </div>
      <ng-template #dataContent >
        <table class="custom-table">
          <caption>Tracking Information from FRPLUS.com</caption>
          <th>Action</th>
          <th>Date | Time</th>
          <th>Connection</th>
          <th>Unique ID</th>
          <th>ACTUAL|VOLUMETRIC(WEIGHT)	</th>
          <tr *ngFor="let item of trackingData">
            <td *ngIf="item.action!==''">{{item.action}}</td>
            <td style="color: blue;" *ngIf="item.action===''">
              <div style="cursor: pointer;" (click)="popupModal({submitName: 'getOfficeDetTR',
              officeNAme:item.groupOffice,
              name:item.groupOffice,
              header:'OFFICE DETAILS'})"> 
              {{item.originBranchCode!==''?item.groupOffice+ '('+ item.originBranchCode+')':item.groupOffice}}
              </div>
            </td>
            <td [innerHTML]="item.date"></td>
            <td>
              <div style="cursor: pointer;" [innerHTML]="sanitizeHtml(item.connection)" (click)="handleAnchorClick($event)"></div>
            </td>
            <td *ngIf="item.fdmNumber==''&&item.manifestFlagCode==''&&item.manifestType==''&&item.uniqueNumber==''&&item.nodeId==''"></td>
            <td *ngIf="item.fdmNumber==''&&item.manifestFlagCode==''&&item.manifestType==''&&item.uniqueNumber==''&&item.nodeId!=''"></td>
            <td *ngIf="item.fdmNumber!=''&&item.manifestFlagCode==''&&item.manifestType==''&&item.uniqueNumber==''&&item.nodeId==''">{{item.fdmNumber}}</td>
            <td *ngIf="item.fdmNumber!=''&&item.manifestFlagCode==''&&item.manifestType==''&&item.uniqueNumber==''&&item.nodeId!=''">{{item.fdmNumber}}</td>
            <td *ngIf="item.fdmNumber==''&&item.manifestFlagCode!=''&&item.manifestType!=''&&item.uniqueNumber!=''&&item.nodeId!=''">{{item.manifestFlagCode}} {{item.uniqueNumber}}</td>
            <td *ngIf="item.fdmNumber==''&&item.manifestFlagCode!=''&&item.manifestType!=''&&item.uniqueNumber!=''&&item.nodeId==''">{{item.manifestFlagCode}} {{item.uniqueNumber}}</td>
            <td *ngIf="item.fdmNumber==''&&item.manifestFlagCode!=''&&item.manifestType!=''&&item.uniqueNumber==''&&item.nodeId==''">{{item.manifestFlagCode}}</td>
            <td *ngIf="item.fdmNumber==''&&item.manifestFlagCode!=''&&item.manifestType!=''&&item.uniqueNumber==''&&item.nodeId!=''">{{item.manifestFlagCode}}</td>
            <td *ngIf="item.fdmNumber!=''&&item.manifestFlagCode==''&&item.manifestType==''&&item.uniqueNumber!=''&&item.nodeId==''">{{item.uniqueNumber}}</td>
            <td [innerHTML]="item.weight"></td>
            <!-- fdmNumber  manifestFlagCode  manifestType  nodeId  uniqueNumber -->
       </tr>
        </table>
      </ng-template>

  </div>

</div>