

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
//   .search-box {
//    height: 63px;
//    position: relative;
//    top: 5px; /* apply desired height */
//  }
 
//  .search-box input {
//    padding-bottom: 10px;
//    height: 16px !important; /* apply desired height */
//    font-size: 14px; /* adjust font size as needed */
//  }
.example-container { margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
mat-card{
  max-width: 350px;
  margin-bottom: 16px;

}
.mat-toolbar {
  display: flex !important;
  align-items: center !important;
}
.spacer {
  flex: 1 !important;
}
label {
  margin-top: 0.5rem;
  font-weight: bold;
}
.mat-card {
  position: relative;
}

.hovered-card {
  background-color: #f0f0f0;
}

.edit-button {
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 1;

  z-index: 1;
  pointer-events: auto;
}
.mat-card:hover .edit-button {
  opacity: 1;
}

.custom-snackbar {
  font-size: 16px !important;
  background-color: #ff0000 !important; /* Set the desired background color */
  color: #ffffff !important; /* Set the desired text color */
}

.custom-spinner {
 
  background-image: url('../../icons/loadingTruck.gif');
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;

  
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust as needed */
}
