<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".cdk-overlay-container" style="cursor: all-scroll;">
<mat-toolbar color="primary" >
    <h4>Add Company</h4>
<button (click)="close()" mat-raised-button  style="margin-left: 50px; height: 0px;width: 0px;padding-left: 50px;">
    X
</button>
</mat-toolbar>
</div>
<div class="example-container" >
    <mat-form-field >
      <input matInput placeholder="Company Name" [(ngModel)]="company" >
    </mat-form-field>
   
    <mat-form-field>
        <input matInput placeholder="Owner Name" [(ngModel)]="owner" >
      </mat-form-field>
  
  
        <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="email">
          </mat-form-field>
   

        <mat-form-field>
            <input matInput placeholder="Address" [(ngModel)]="address">
          </mat-form-field>
    
  </div>
  <button  mat-raised-button color="accent" (click)="onsubmit()">Save</button>
