<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".cdk-overlay-container" style="cursor: all-scroll;">
<mat-toolbar color="primary" >
    <h4>Add Company</h4>
    <span class="spacer"></span>
    <button mat-icon-button mat-dialog-close type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
</mat-toolbar>
</div>
<div class="example-container" >
    <mat-form-field >
      <input matInput placeholder="Company Name" [(ngModel)]="company" >
    </mat-form-field>
   
    <mat-form-field>
        <input matInput placeholder="Owner Name" [(ngModel)]="owner" >
      </mat-form-field>
  
  
        <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="email">
          </mat-form-field>
   

        <mat-form-field>
            <input matInput placeholder="Address" [(ngModel)]="address">
          </mat-form-field>
    
  </div>
  <button  mat-raised-button color="accent" (click)="onsubmit()">Save</button>
