
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$front-end-primary: mat.define-palette(mat.$indigo-palette);
$front-end-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$front-end-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$front-end-theme: mat.define-light-theme((
  color: (
    primary: $front-end-primary,
    accent: $front-end-accent,
    warn: $front-end-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($front-end-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: #ff4081;
  --mdc-snackbar-container-color: #333333;
  --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
  font-size: 24px;
}
input:not([type="search"]):not([type="date"]),textarea {
  

    border-width: 4px !important;

    border-color: #000 !important;
  
}
.ng-invalid.ng-dirty[_ngcontent-ng-c3819512233], .ng-invalid.ng-touched[_ngcontent-ng-c3819512233] {
  border-color: rgb(255, 0, 0) !important;
}


/* Global styles.css or styles.scss */
.custom-snackbar-error {
  --mdc-snackbar-container-color: red !important;
  --mat-mdc-snack-bar-button-color: black !important;

}

.custom-snackbar-error .mdc-snackbar__label {
  color: white !important;
  font-weight: bold !important;

}

.custom-snackbar-success {
  --mdc-snackbar-container-color: green !important;
  --mat-mdc-snack-bar-button-color: black !important;

}

.custom-snackbar-success .mdc-snackbar__label {
  color: white !important;
  font-weight: bold !important;

}

.custom-snackbar-info {
  --mdc-snackbar-container-color: rgb(30, 30, 250) !important;
  --mat-mdc-snack-bar-button-color: black !important;

}

.custom-snackbar-info .mdc-snackbar__label {
  color: white !important;
  font-weight: bold !important;

}

